In [1]:
import tensorflow as tf
import xgboost as xgb
import numpy as np
import pandas as pd
import os
from sqlalchemy import Column, String, create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [2]:
def func(path):
    path_list = []
    for i in os.listdir(path):
        path_list.append(i)
    return path_list

In [3]:
Base = declarative_base()
engine=create_engine("mysql+pymysql://research:research@10.10.10.118:3306/china_stocks?charset=utf8", echo=True)  
DBSession = sessionmaker(bind=engine)  
session = DBSession()

In [4]:
PATH = '/data/share/china_stocks/data/index_weights/000300'
time_line = func(PATH)
time_line.sort()

In [17]:
sql_load_str = "select * from adjustment limit 10"
df = pd.read_sql(sql_load_str, con = engine)
df

2019-11-05 14:03:55,794 INFO sqlalchemy.engine.base.Engine DESCRIBE `select * from adjustment limit 10`
2019-11-05 14:03:55,795 INFO sqlalchemy.engine.base.Engine {}
2019-11-05 14:03:55,797 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-11-05 14:03:55,798 INFO sqlalchemy.engine.base.Engine select * from adjustment limit 10
2019-11-05 14:03:55,799 INFO sqlalchemy.engine.base.Engine {}

            tid trading_day  adjustment
0  104070000001  2008-10-31   -2.635769
1  104070000001  2012-10-19   -0.100000
2  104070000001  2013-06-20   -7.321250
3  104070000001  2014-06-12   -2.096667
4  104070000001  2015-04-13   -3.445000
5  104070000001  2016-06-16   -1.867500
6  104070000001  2017-07-21   -0.158000
7  104070000001  2018-07-12   -0.136000
8  104070000002  2008-06-16   -6.250000
9  104070000002  2009-06-08   -0.050000

In [18]:
sql_load_str = "select * from session_end_ticks limit 10"
df = pd.read_sql(sql_load_str, con = engine)
df

2019-11-05 14:05:19,414 INFO sqlalchemy.engine.base.Engine DESCRIBE `select * from session_end_ticks limit 10`
2019-11-05 14:05:19,416 INFO sqlalchemy.engine.base.Engine {}
2019-11-05 14:05:19,417 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-11-05 14:05:19,418 INFO sqlalchemy.engine.base.Engine select * from session_end_ticks limit 10
2019-11-05 14:05:19,419 INFO sqlalchemy.engine.base.Engine {}

,date_time,instrument_id,unique_symbol,future_product_name,day_trading,high,low,open,close,upper_limit,lower_limit,spread,volume,turnover,open_interest,pre_settlement,pivot_price
0,2019-07-30,104060600000,600000.SSE.STK,,1,12.00,11.84,11.84,11.86,12.01,0.0,0.010485,33731002,401937924.0,0,0.0,11.86
1,2019-07-30,104060600004,600004.SSE.STK,,1,18.00,17.65,18.00,17.81,18.01,0.0,0.013190,7164863,127433470.0,0,0.0,17.81
2,2019-07-30,104060600006,600006.SSE.STK,,1,5.05,4.99,4.99,5.01,5.06,0.0,0.010031,9091725,45672342.0,0,0.0,5.01
3,2019-07-30,104060600007,600007.SSE.STK,,1,16.31,16.12,16.28,16.27,16.31,0.0,0.023228,1272066,20643510.0,0,0.0,16.27
4,2019-07-30,104060600008,600008.SSE.STK,,1,3.53,3.49,3.49,3.51,3.53,0.0,0.010067,10151800,35687390.0,0,0.0,3.51
5,2019-07-30,104060600009,600009.SSE.STK,,1,85.47,84.09,84.98,84.26,85.47,0.0,0.019055,6231284,528404371.0,0,0.0,84.26
6,2019-07-30,104060600010,600010.SSE.STK,,1,1.60,1.58,1.59,1.59,1.60,0.0,0.010002,133005046,211424092.0,0,0.0,1.59
7,2019-07-30,104060600011,600011.SSE.STK,,1,6.57,6.47,6.51,6.51,6.58,0.0,0.010293,16530528,107580770.0,0,0.0,6.51
8,2019-07-30,104060600012,600012.SSE.STK,,1,5.92,5.82,5.82,5.89,5.93,0.0,0.010631,1758172,10355211.0,0,0.0,5.89
9,2019-07-30,104060600015,600015.SSE.STK,,1,7.63,7.56,7.56,7.62,7.64,0.0,0.010033,14510881,110334089.0,0,0.0,7.62

In [ ]:
for i in range(len(time_line)):
    if int(time_line[i][-12:-8])>2009:
        time_start_index = i
        break        
for i in range(len(time_line)):
    if int(time_line[i][-12:-8])>2017:
        time_end_index = i
        break
time_line = time_line[time_start_index:time_end_index]
use_index = [0]
temp = pd.read_csv(os.path.join(PATH,time_line[0]), header = None, dtype=object)
for i in range(1,len(time_line)):
    temp_path = os.path.join(PATH,time_line[i])
    df = pd.read_csv(temp_path, header = None, dtype=object)
    if len(set(df[0]) - set(temp[0])) != 0:
        use_index.append(i)
        temp = df
        

time_line = list(map(lambda x: x[:8], time_line))
time_line = np.array(time_line)

In [ ]:
use_time_line = time_line[use_index]

In [ ]:
df = pd.read_csv("index300_v1.csv", dtype=object)

In [ ]:
df = df.sort_values(by="date_time",ascending= True)

In [ ]:
df["str_time"] = df["date_time"].apply(lambda x: str(x))
df["str_time"] = df["str_time"].apply(lambda x: x.replace('-',''))

In [ ]:
time_line_index_dic = {}
for j in range(len(use_time_line)):
        tdf = pd.read_csv(os.path.join(PATH, use_time_line[j] + ".csv"), header = None, dtype=object)
        index_stocks = np.array(tdf[0])
        time_line_index_dic[j] = np.array(tdf[0])

In [ ]:
t = list(df.str_time)
s = list(df.unique_symbol)
time_tag = []
for i in range(len(t)):
    time = t[i]
    for j in range(1, len(use_time_line)):
        if time>=use_time_line[j-1] and time < use_time_line[j]:
            time_tag.append(j-1)
            break
    if time == use_time_line[-1]:
        time_tag.append(len(use_time_line)-1)

In [ ]:
use_tag = []
for i in range(len(s)):
    stock = s[i]
    t_tag = time_tag[i]
    if len(time_line_index_dic[t_tag][time_line_index_dic[t_tag] == stock]) == 0:
        use_tag.append(0)
    else:
        use_tag.append(1)

In [ ]:
df["time_tag"] = time_tag
df["use_tag"] = use_tag

In [ ]:
df.to_csv("index300_v2.csv")