In [1]:
import tensorflow as tf
import xgboost as xgb
import numpy as np
import pandas as pd
import os

In [2]:
from sqlalchemy import Column, String, create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [3]:
def func(path):
    path_list = []
    for i in os.listdir(path):
        path_list.append(i)
    return path_list

In [4]:
Base = declarative_base()
engine=create_engine("mysql+pymysql://research:research@10.10.10.118:3306/china_stocks?charset=utf8", echo=True)  
DBSession = sessionmaker(bind=engine)  
session = DBSession()

In [5]:
# df = pd.read_sql("select * from session_end_ticks where unique_symbol like '000001.SZE.STK' and date_time >= '2018-01-01' and date_time <= '2018-12-31' ", con = engine)

In [6]:
PATH = '/data/share/china_stocks/data/index_weights/000905'
time_line = func(PATH)
time_line.sort()

In [7]:
for i in range(len(time_line)):
    if int(time_line[i][-12:-8])>2009:
        time_start_index = i
        break        
for i in range(len(time_line)):
    if int(time_line[i][-12:-8])>2017:
        time_end_index = i
        break
time_line = time_line[time_start_index:time_end_index]

In [8]:
set_all = set()
for i in range(0,len(time_line)):
    temp_path = os.path.join(PATH,time_line[i])
    df = pd.read_csv(temp_path, header = None, dtype=object)
    set_all = set(df[0]) | set_all

In [9]:
use_index = [0]
temp = pd.read_csv(os.path.join(PATH,time_line[0]), header = None, dtype=object)
for i in range(1,len(time_line)):
    temp_path = os.path.join(PATH,time_line[i])
    df = pd.read_csv(temp_path, header = None, dtype=object)
    if len(set(df[0]) - set(temp[0])) != 0:
        use_index.append(i)
        temp = df

In [10]:
use_index_group = [(0, use_index[1])]
for i in range(2,len(use_index)):
    use_index_group.append((use_index[i-1], use_index[i]))

In [11]:
def generate_sql_date_time(tup):
    sql_str = " "
    t1 = time_line[tup[0]][:8]
    t1 = t1[:4] + "-" + t1[4:6] + "-" + t1[6:8]
    t2 = time_line[tup[1]][:8]
    t2 = t2[:4] + "-" + t2[4:6] + "-" + t2[6:8]
    sql_str = sql_str +  "date_time >= '" + t1 + "' and " + "date_time < '" + t2 + "'"
    return sql_str

In [12]:
sql_str_list = []
for tup in use_index_group:
    sql_load_str = "select * from session_end_ticks where "
    sql_load_str = sql_load_str + generate_sql_date_time(tup)
    sql_str_list.append(sql_load_str)

In [13]:
# df_all = pd.DataFrame()
# for i in range(len(sql_str_list)):
#     df = pd.read_sql(sql_str_list[i], con = engine)
#     df["unique_symbol"] = df["unique_symbol"].apply(lambda x:x[:6])
#     df1 = pd.read_csv(os.path.join(PATH, time_line[use_index_group[i][0]]), header = None, dtype=object)
#     index_stocks = np.array(df1[0])
#     df = df[df["unique_symbol"].isin(index_stocks)]
#     print(len(df))
#     df_all = df_all.append(df)
#     print(len(df_all))

In [14]:
s_str = "select * from session_end_ticks where date_time >= '2010-01-29' and date_time <= '2017-12-31' "
df = pd.read_sql(s_str, con = engine)
df["unique_symbol"] = df["unique_symbol"].apply(lambda x:x[:6])
df_all = df[df["unique_symbol"].isin(list(set_all))]
print(len(df_all))

2019-11-06 09:59:00,127 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-11-06 09:59:00,129 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,135 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-11-06 09:59:00,136 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,140 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-11-06 09:59:00,141 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,144 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-11-06 09:59:00,145 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,147 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-11-06 09:59:00,148 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,151 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-11-06 09:59:00,152 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,154 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-11-06 09:59:00,155 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,157 INFO sqlalchemy.engine.base.Engine DESCRIBE `select * from session_end_ticks where date_time >= '2010-01-29' and date_time <= '2017-12-31' `
2019-11-06 09:59:00,158 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 09:59:00,160 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-11-06 09:59:00,162 INFO sqlalchemy.engine.base.Engine select * from session_end_ticks where date_time >= '2010-01-29' and date_time <= '2017-12-31'
2019-11-06 09:59:00,163 INFO sqlalchemy.engine.base.Engine {}
1906187

In [15]:
# s_str = "select * from adjustment where date_time >= '2010-01-01' and date_time <= '2017-12-31' "
s_str = "select * from adjustment "
ad_df = pd.read_sql(s_str, con = engine)

2019-11-06 10:01:29,684 INFO sqlalchemy.engine.base.Engine DESCRIBE `select * from adjustment `
2019-11-06 10:01:29,686 INFO sqlalchemy.engine.base.Engine {}
2019-11-06 10:01:29,688 INFO sqlalchemy.engine.base.Engine ROLLBACK
2019-11-06 10:01:29,690 INFO sqlalchemy.engine.base.Engine select * from adjustment
2019-11-06 10:01:29,691 INFO sqlalchemy.engine.base.Engine {}

In [16]:
ad_df.columns = ["instrument_id", "merge_time", "adjustment"]
ad_df["merge_time"] = ad_df["merge_time"].apply(lambda x: str(x))
df["merge_time"] = df["date_time"].apply(lambda x: str(x)[:10])

In [17]:
res = pd.merge(df, ad_df, how="left",on=['instrument_id','merge_time'])

In [18]:
res["year"] = res["date_time"].apply(lambda x: str(x)[:4])
res["mon"] = res["date_time"].apply(lambda x: str(x)[5:7])

In [19]:
res.to_csv("index500_v1.csv")