In [1]:
import tensorflow as tf
import xgboost as xgb
import numpy as np
import pandas as pd
import datetime
import os

# 在clean1中提取选定日期内所有股票数据并，并与adjustment数据merge

In [2]:
from sqlalchemy import Column, String, create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [3]:
def func(path):
    path_list = []
    for i in os.listdir(path):
        path_list.append(i)
    return path_list

In [4]:
Base = declarative_base()
# engine=create_engine("mysql+pymysql://research:research@10.10.10.118:3306/china_stocks?charset=utf8", echo=True)
engine=create_engine("mysql+pymysql://research:research@10.10.10.118:3306/china_stocks?charset=utf8", echo=False)
DBSession = sessionmaker(bind=engine)  
session = DBSession()

In [5]:
# df = pd.read_sql("select * from session_end_ticks where unique_symbol like '000001.SZE.STK' and date_time >= '2018-01-01' and date_time <= '2018-12-31' ", con = engine)

In [6]:
PATH = '/data/share/china_stocks/data/index_weights/000905'
time_line = func(PATH)
time_line.sort()

In [7]:
for i in range(len(time_line)):
    if int(time_line[i][-12:-8])>2009:
        time_start_index = i
        break        
for i in range(len(time_line)):
    if int(time_line[i][-12:-8])>2017:
        time_end_index = i
        break
time_line = time_line[time_start_index:time_end_index]

In [8]:
set_all = set()
for i in range(0,len(time_line)):
    temp_path = os.path.join(PATH,time_line[i])
    df = pd.read_csv(temp_path, header = None, dtype=object)
#     print(i, time_line[i], len(df))
    set_all = set(df[0]) | set_all

In [9]:
use_index = [0]
temp = pd.read_csv(os.path.join(PATH,time_line[0]), header = None, dtype=object)
for i in range(1,len(time_line)):
    temp_path = os.path.join(PATH,time_line[i])
    df = pd.read_csv(temp_path, header = None, dtype=object)
    if len(set(df[0]) - set(temp[0])) != 0:
        use_index.append(i)
        temp = df

In [10]:
use_index_group = [(0, use_index[1])]
for i in range(2,len(use_index)):
    use_index_group.append((use_index[i-1], use_index[i]))

In [11]:
def generate_sql_date_time(tup):
    sql_str = " "
    t1 = time_line[tup[0]][:8]
    t1 = t1[:4] + "-" + t1[4:6] + "-" + t1[6:8]
    t2 = time_line[tup[1]][:8]
    t2 = t2[:4] + "-" + t2[4:6] + "-" + t2[6:8]
    sql_str = sql_str +  "date_time >= '" + t1 + "' and " + "date_time < '" + t2 + "'"
    return sql_str

In [12]:
sql_str_list = []
for tup in use_index_group:
    sql_load_str = "select * from session_end_ticks where "
    sql_load_str = sql_load_str + generate_sql_date_time(tup)
    sql_str_list.append(sql_load_str)

In [13]:
%%time
s_str = "select * from session_end_ticks where date_time >= '2010-01-29' and date_time <= '2017-12-31' "
df = pd.read_sql(s_str, con = engine)
df["unique_symbol"] = df["unique_symbol"].apply(lambda x:x[:6])

CPU times: user 2min 47s, sys: 7.01 s, total: 2min 54s
Wall time: 2min 54s

In [14]:
df["year"] = df["date_time"].apply(lambda x:str(x)[:4])

In [15]:
df = df[~(df["instrument_id"] == 105060000016)].copy()
df = df[~(df["instrument_id"] == 105060000905)].copy()
df = df[~(df["instrument_id"] == 105060000016)].copy()

剔除50、300、500股指数据

In [16]:
s_str = "select * from adjustment "
ad_df = pd.read_sql(s_str, con = engine)

In [17]:
ad_df.columns = ["instrument_id", "merge_time", "adjustment"]
    
t1 = datetime.datetime(2010,1,29)
t2 = datetime.datetime(2017,12,31)
ad_df["merge_time"] = pd.to_datetime(ad_df["merge_time"])
ad_df = ad_df[ (ad_df["merge_time"] >= t1)&(ad_df["merge_time"] < t2)].copy()

ad_df["merge_time"] = ad_df["merge_time"].apply(lambda x: str(x)[:10])
df["merge_time"] = df["date_time"].apply(lambda x: str(x)[:10])

In [18]:
ad_df

       instrument_id  merge_time  adjustment
1       104070000001  2012-10-19   -0.100000
2       104070000001  2013-06-20   -7.321250
3       104070000001  2014-06-12   -2.096667
4       104070000001  2015-04-13   -3.445000
5       104070000001  2016-06-16   -1.867500
...              ...         ...         ...
20855   104060603998  2015-04-17  -11.284615
20856   104060603998  2016-05-05  -32.486667
20857   104060603998  2017-07-19   -0.010000
20859   104060603999  2016-06-02   -6.391667
20860   104060603999  2017-07-03  -11.210000

[15173 rows x 3 columns]

In [19]:
gb = ad_df.groupby("instrument_id")["adjustment"]
ad_df["adjustment_cumsum"] = gb.transform(lambda x: x.cumsum())

In [20]:
ad_df[ad_df["instrument_id"] == 104060600499]

       instrument_id  merge_time  adjustment  adjustment_cumsum
15733   104060600499  2010-03-09   -5.714615          -5.714615
15734   104060600499  2011-03-25   -0.100000          -5.814615
15735   104060600499  2012-03-15   -0.100000          -5.914615
15736   104060600499  2013-04-18   -0.130000          -6.044615
15737   104060600499  2014-05-06   -0.170000          -6.214615
15738   104060600499  2015-05-29   -0.200000          -6.414615
15739   104060600499  2016-07-25   -8.550000         -14.964615
15740   104060600499  2017-06-14   -0.080000         -15.044615

In [21]:
res = pd.merge(df, ad_df, how="left",on=['instrument_id','merge_time'])
res  = res.sort_values(by="merge_time",ascending= True)

In [22]:
res[(res["unique_symbol"] == "600499")&(res["date_time"].dt.year == 2010)&(res["date_time"].dt.month == 3)]

,date_time,instrument_id,unique_symbol,future_product_name,day_trading,high,low,open,close,upper_limit,...,spread,volume,turnover,open_interest,pre_settlement,pivot_price,year,merge_time,adjustment,adjustment_cumsum
567428,2010-03-01,104060600499,600499,,1,24.18,23.30,23.30,24.15,0.0,...,0.023137,8666000,206309856.0,0,0.0,24.15,2010,2010-03-01,NaN,NaN
569104,2010-03-02,104060600499,600499,,1,24.60,23.99,24.19,24.43,0.0,...,0.021636,5641800,137072368.0,0,0.0,24.43,2010,2010-03-02,NaN,NaN
570782,2010-03-03,104060600499,600499,,1,25.12,24.31,24.52,25.00,0.0,...,0.019727,7507600,186659232.0,0,0.0,25.00,2010,2010-03-03,NaN,NaN
572468,2010-03-04,104060600499,600499,,1,25.28,23.71,25.00,23.80,0.0,...,0.024163,9122500,223481312.0,0,0.0,23.80,2010,2010-03-04,NaN,NaN
574160,2010-03-05,104060600499,600499,,1,24.13,23.50,24.13,23.97,0.0,...,0.017247,5590200,132652968.0,0,0.0,23.97,2010,2010-03-05,NaN,NaN
575852,2010-03-08,104060600499,600499,,1,24.70,24.02,24.02,24.43,0.0,...,0.017192,6817800,166907360.0,0,0.0,24.43,2010,2010-03-08,NaN,NaN
577548,2010-03-09,104060600499,600499,,1,19.30,18.78,18.84,18.92,0.0,...,0.023957,4728900,89777128.0,0,0.0,18.92,2010,2010-03-09,-5.714615,-5.714615
579251,2010-03-10,104060600499,600499,,1,18.85,18.30,18.85,18.45,0.0,...,0.021577,5281500,98033008.0,0,0.0,18.45,2010,2010-03-10,NaN,NaN
580955,2010-03-11,104060600499,600499,,1,19.14,18.38,18.50,18.67,0.0,...,0.019420,6928800,129389448.0,0,0.0,18.67,2010,2010-03-11,NaN,NaN
582658,2010-03-12,104060600499,600499,,1,18.78,18.39,18.67,18.57,0.0,...,0.019770,4612700,85491496.0,0,0.0,18.57,2010,2010-03-12,NaN,NaN
584355,2010-03-15,104060600499,600499,,1,18.63,17.90,18.63,18.36,0.0,...,0.020948,6534300,119125344.0,0,0.0,18.36,2010,2010-03-15,NaN,NaN
586055,2010-03-16,104060600499,600499,,1,18.50,17.98,18.40,18.32,0.0,...,0.020674,4265500,77671288.0,0,0.0,18.32,2010,2010-03-16,NaN,NaN
587765,2010-03-17,104060600499,600499,,1,19.47,18.36,18.36,19.39,0.0,...,0.016230,16497500,314705248.0,0,0.0,19.39,2010,2010-03-17,NaN,NaN
589463,2010-03-18,104060600499,600499,,1,20.01,19.53,19.55,19.85,0.0,...,0.015600,13766300,272256096.0,0,0.0,19.85,2010,2010-03-18,NaN,NaN
591161,2010-03-19,104060600499,600499,,1,20.22,19.55,19.88,20.13,0.0,...,0.018501,12484800,249507296.0,0,0.0,20.13,2010,2010-03-19,NaN,NaN
592860,2010-03-22,104060600499,600499,,1,21.18,20.31,20.48,20.70,0.0,...,0.016606,21781100,455130560.0,0,0.0,20.70,2010,2010-03-22,NaN,NaN

In [23]:
gb = res.groupby("instrument_id")["adjustment_cumsum"]
res["adjustment_cumsum"] = gb.transform(lambda x: x.fillna(method='ffill'))

In [24]:
res[(res["unique_symbol"] == "600499")&(res["date_time"].dt.year == 2010)&(res["date_time"].dt.month == 3)]

,date_time,instrument_id,unique_symbol,future_product_name,day_trading,high,low,open,close,upper_limit,...,spread,volume,turnover,open_interest,pre_settlement,pivot_price,year,merge_time,adjustment,adjustment_cumsum
567428,2010-03-01,104060600499,600499,,1,24.18,23.30,23.30,24.15,0.0,...,0.023137,8666000,206309856.0,0,0.0,24.15,2010,2010-03-01,NaN,NaN
569104,2010-03-02,104060600499,600499,,1,24.60,23.99,24.19,24.43,0.0,...,0.021636,5641800,137072368.0,0,0.0,24.43,2010,2010-03-02,NaN,NaN
570782,2010-03-03,104060600499,600499,,1,25.12,24.31,24.52,25.00,0.0,...,0.019727,7507600,186659232.0,0,0.0,25.00,2010,2010-03-03,NaN,NaN
572468,2010-03-04,104060600499,600499,,1,25.28,23.71,25.00,23.80,0.0,...,0.024163,9122500,223481312.0,0,0.0,23.80,2010,2010-03-04,NaN,NaN
574160,2010-03-05,104060600499,600499,,1,24.13,23.50,24.13,23.97,0.0,...,0.017247,5590200,132652968.0,0,0.0,23.97,2010,2010-03-05,NaN,NaN
575852,2010-03-08,104060600499,600499,,1,24.70,24.02,24.02,24.43,0.0,...,0.017192,6817800,166907360.0,0,0.0,24.43,2010,2010-03-08,NaN,NaN
577548,2010-03-09,104060600499,600499,,1,19.30,18.78,18.84,18.92,0.0,...,0.023957,4728900,89777128.0,0,0.0,18.92,2010,2010-03-09,-5.714615,-5.714615
579251,2010-03-10,104060600499,600499,,1,18.85,18.30,18.85,18.45,0.0,...,0.021577,5281500,98033008.0,0,0.0,18.45,2010,2010-03-10,NaN,-5.714615
580955,2010-03-11,104060600499,600499,,1,19.14,18.38,18.50,18.67,0.0,...,0.019420,6928800,129389448.0,0,0.0,18.67,2010,2010-03-11,NaN,-5.714615
582658,2010-03-12,104060600499,600499,,1,18.78,18.39,18.67,18.57,0.0,...,0.019770,4612700,85491496.0,0,0.0,18.57,2010,2010-03-12,NaN,-5.714615
584355,2010-03-15,104060600499,600499,,1,18.63,17.90,18.63,18.36,0.0,...,0.020948,6534300,119125344.0,0,0.0,18.36,2010,2010-03-15,NaN,-5.714615
586055,2010-03-16,104060600499,600499,,1,18.50,17.98,18.40,18.32,0.0,...,0.020674,4265500,77671288.0,0,0.0,18.32,2010,2010-03-16,NaN,-5.714615
587765,2010-03-17,104060600499,600499,,1,19.47,18.36,18.36,19.39,0.0,...,0.016230,16497500,314705248.0,0,0.0,19.39,2010,2010-03-17,NaN,-5.714615
589463,2010-03-18,104060600499,600499,,1,20.01,19.53,19.55,19.85,0.0,...,0.015600,13766300,272256096.0,0,0.0,19.85,2010,2010-03-18,NaN,-5.714615
591161,2010-03-19,104060600499,600499,,1,20.22,19.55,19.88,20.13,0.0,...,0.018501,12484800,249507296.0,0,0.0,20.13,2010,2010-03-19,NaN,-5.714615
592860,2010-03-22,104060600499,600499,,1,21.18,20.31,20.48,20.70,0.0,...,0.016606,21781100,455130560.0,0,0.0,20.70,2010,2010-03-22,NaN,-5.714615

In [25]:
res["adjustment_cumsum"] = res["adjustment_cumsum"].fillna(0)

In [26]:
res[(res["unique_symbol"] == "600499")&(res["date_time"].dt.year == 2010)&(res["date_time"].dt.month == 3)]

,date_time,instrument_id,unique_symbol,future_product_name,day_trading,high,low,open,close,upper_limit,...,spread,volume,turnover,open_interest,pre_settlement,pivot_price,year,merge_time,adjustment,adjustment_cumsum
567428,2010-03-01,104060600499,600499,,1,24.18,23.30,23.30,24.15,0.0,...,0.023137,8666000,206309856.0,0,0.0,24.15,2010,2010-03-01,NaN,0.000000
569104,2010-03-02,104060600499,600499,,1,24.60,23.99,24.19,24.43,0.0,...,0.021636,5641800,137072368.0,0,0.0,24.43,2010,2010-03-02,NaN,0.000000
570782,2010-03-03,104060600499,600499,,1,25.12,24.31,24.52,25.00,0.0,...,0.019727,7507600,186659232.0,0,0.0,25.00,2010,2010-03-03,NaN,0.000000
572468,2010-03-04,104060600499,600499,,1,25.28,23.71,25.00,23.80,0.0,...,0.024163,9122500,223481312.0,0,0.0,23.80,2010,2010-03-04,NaN,0.000000
574160,2010-03-05,104060600499,600499,,1,24.13,23.50,24.13,23.97,0.0,...,0.017247,5590200,132652968.0,0,0.0,23.97,2010,2010-03-05,NaN,0.000000
575852,2010-03-08,104060600499,600499,,1,24.70,24.02,24.02,24.43,0.0,...,0.017192,6817800,166907360.0,0,0.0,24.43,2010,2010-03-08,NaN,0.000000
577548,2010-03-09,104060600499,600499,,1,19.30,18.78,18.84,18.92,0.0,...,0.023957,4728900,89777128.0,0,0.0,18.92,2010,2010-03-09,-5.714615,-5.714615
579251,2010-03-10,104060600499,600499,,1,18.85,18.30,18.85,18.45,0.0,...,0.021577,5281500,98033008.0,0,0.0,18.45,2010,2010-03-10,NaN,-5.714615
580955,2010-03-11,104060600499,600499,,1,19.14,18.38,18.50,18.67,0.0,...,0.019420,6928800,129389448.0,0,0.0,18.67,2010,2010-03-11,NaN,-5.714615
582658,2010-03-12,104060600499,600499,,1,18.78,18.39,18.67,18.57,0.0,...,0.019770,4612700,85491496.0,0,0.0,18.57,2010,2010-03-12,NaN,-5.714615
584355,2010-03-15,104060600499,600499,,1,18.63,17.90,18.63,18.36,0.0,...,0.020948,6534300,119125344.0,0,0.0,18.36,2010,2010-03-15,NaN,-5.714615
586055,2010-03-16,104060600499,600499,,1,18.50,17.98,18.40,18.32,0.0,...,0.020674,4265500,77671288.0,0,0.0,18.32,2010,2010-03-16,NaN,-5.714615
587765,2010-03-17,104060600499,600499,,1,19.47,18.36,18.36,19.39,0.0,...,0.016230,16497500,314705248.0,0,0.0,19.39,2010,2010-03-17,NaN,-5.714615
589463,2010-03-18,104060600499,600499,,1,20.01,19.53,19.55,19.85,0.0,...,0.015600,13766300,272256096.0,0,0.0,19.85,2010,2010-03-18,NaN,-5.714615
591161,2010-03-19,104060600499,600499,,1,20.22,19.55,19.88,20.13,0.0,...,0.018501,12484800,249507296.0,0,0.0,20.13,2010,2010-03-19,NaN,-5.714615
592860,2010-03-22,104060600499,600499,,1,21.18,20.31,20.48,20.70,0.0,...,0.016606,21781100,455130560.0,0,0.0,20.70,2010,2010-03-22,NaN,-5.714615

In [27]:
res.columns

Index(['date_time', 'instrument_id', 'unique_symbol', 'future_product_name',
       'day_trading', 'high', 'low', 'open', 'close', 'upper_limit',
       'lower_limit', 'spread', 'volume', 'turnover', 'open_interest',
       'pre_settlement', 'pivot_price', 'year', 'merge_time', 'adjustment',
       'adjustment_cumsum'],
      dtype='object')

In [28]:
res.to_csv("index500_v1_adjustment.csv")