# 读取930interval数据

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import Ipynb_importer
from utils_x import *
from parameters_x import *
import seaborn as sns
import datetime
from scipy.stats import norm
sns.set(style="darkgrid")
import logging
import time
import os

In [2]:
path = '/data/share/china_stocks/data/main_intervals/stock_interval/930'

In [3]:
def func(path):
    path_list = []
    for i in os.listdir(path):
        path_list.append(i)
    return path_list

In [4]:
stocks_begin_interval = func(path)
t1 = datetime.datetime(2010,1,1)
t2 = datetime.datetime(2018,1,1)

In [5]:
begin_interval_df = pd.DataFrame()
for s in range(len(stocks_begin_interval)):
    if s%100 == 0:
        print(s)
    temp = pd.read_csv(os.path.join(path, stocks_begin_interval[s]))
    temp["time"] = pd.to_datetime(temp["time"])
    temp = temp[(temp["time"]>=t1)&(temp["time"]<t2)]
    begin_interval_df = begin_interval_df.append(temp)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700

In [6]:
begin_interval_df = begin_interval_df[["id", "time", "open_mid", "close_mid","type"]]

In [7]:
begin_interval_df1 = begin_interval_df.reset_index(drop=True)

In [8]:
begin_interval_df1["date_time"] = pd.to_datetime(begin_interval_df1["time"].dt.floor("d"))

In [10]:
begin_interval_df1["unique_symbol"] = begin_interval_df1["id"].apply(lambda x:str(x)[-6:])

In [11]:
res = begin_interval_df1[["date_time", "open_mid", "close_mid", "t+1_open_mid", "t+1_close_mid", "unique_symbol", "type"]]

In [12]:
res

,date_time,open_mid,close_mid,t+1_open_mid,t+1_close_mid,unique_symbol,type
0,2010-01-04,15.795,15.795,16.130,16.130,600888,0
1,2010-01-05,16.130,16.130,17.925,17.925,600888,0
2,2010-01-06,17.925,17.925,19.380,19.380,600888,0
3,2010-01-07,19.380,19.380,19.795,19.795,600888,-100
4,2010-01-08,19.795,19.795,20.155,20.155,600888,0
...,...,...,...,...,...,...,...
4597290,2017-12-25,15.140,15.140,14.650,14.650,600718,0
4597291,2017-12-26,14.650,14.650,14.775,14.775,600718,0
4597292,2017-12-27,14.775,14.775,14.615,14.615,600718,0
4597293,2017-12-28,14.615,14.615,14.575,14.575,600718,0
4597294,2017-12-29,14.575,14.575,NaN,NaN,600718,0

In [13]:
res.to_csv("begin_930_interval_df.csv")