# 计算INDEX500的return

In [ ]:
import tensorflow as tf
import xgboost as xgb
import numpy as np
import pandas as pd
import datetime
import os
from sqlalchemy import Column, String, create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [2]:
def func(path):
    path_list = []
    for i in os.listdir(path):
        path_list.append(i)
    return path_list

In [3]:
from sqlalchemy import Column, String, create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [4]:
PATH = '/data/share/china_stocks/data/index_weights/000905'
time_line = func(PATH)
time_line.sort()

In [5]:
Base = declarative_base()
# engine=create_engine("mysql+pymysql://research:research@10.10.10.118:3306/china_stocks?charset=utf8", echo=True)
engine=create_engine("mysql+pymysql://research:research@10.10.10.118:3306/china_stocks?charset=utf8", echo=False)
DBSession = sessionmaker(bind=engine)  
session = DBSession()

In [6]:
%%time
s_str = "select * from session_end_ticks where instrument_id = 105060000905 and date_time >= '2010-01-29' and date_time <= '2017-12-31' "
df = pd.read_sql(s_str, con = engine)
df["unique_symbol"] = "index500"

CPU times: user 80.1 ms, sys: 5.98 ms, total: 86.1 ms
Wall time: 95.2 ms

In [7]:
df = df[["open","date_time"]]

In [8]:
df["open1"] = df["open"].shift(-1)
df["open2"] = df["open"].shift(-2)

In [9]:
df["index500_return"] = df["open2"]/df["open1"] -1

In [10]:
df

           open  date_time      open1      open2  index500_return
0     4316.2400 2010-01-29  4366.4900  4344.0400        -0.005141
1     4366.4900 2010-02-01  4344.0400  4299.9700        -0.010145
2     4344.0400 2010-02-02  4299.9700  4342.6800         0.009933
3     4299.9700 2010-02-03  4342.6800  4312.5500        -0.006938
4     4342.6800 2010-02-04  4312.5500  4299.2500        -0.003084
...         ...        ...        ...        ...              ...
1920  6244.8639 2017-12-25  6179.5601  6213.2428         0.005451
1921  6179.5601 2017-12-26  6213.2428  6163.9637        -0.007931
1922  6213.2428 2017-12-27  6163.9637  6201.4554         0.006082
1923  6163.9637 2017-12-28  6201.4554        NaN              NaN
1924  6201.4554 2017-12-29        NaN        NaN              NaN

[1925 rows x 5 columns]

In [11]:
df = df[["index500_return","date_time"]]

In [12]:
df.to_csv("index500_open.csv")